body{
    background-color: oldlace;
}
.btn-primary{
    background-color: papayawhip;
    color: #cdba96;
    border-color: #EEE9E9;
    border-width: 3px;
}
.btn-link{
    background-color: papayawhip;
    color: #cdba96
}
.btn:hover{
    background-color: bisque;
    border-color: #6F4242;
    color: #6F4242;
}
.btn-secondary{
    float: left;
}
.collapse{
    background-color: bisque;
    color: #6F4242;
}
.card-body{
    background-color: bisque;
    color: #6F4242
}
.jumbotron{
    background-color: bisque;
    color: #6F4242;
}
.accordion{
    background-color: bisque;
    color: #6F4242;
}
.card{
    background-color:bisque;
}